<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Three login page</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
	<section class="inner">
		<img src="three-logo.png" alt="Three logo" class="img mt-2 mb-1">
		<p class="font-weight-bold align-center mb-1">Let's get started</p>
		<p class="align-center mb-1">New to three<a class="font-weight-bold" href=""> &#62; Register now</a></p>
		<p class="font-weight-bold font-size-large align-center mb-1">What's your Three number?</p>
		<div id="app">
			<form @submit.prevent="submitForm">
			  <input type="text" id="phone" v-model="phoneNumber" @input="validatePhoneNumber" placeholder="Three number">
			  <span class="error mt-1 block" v-if="validationError">{{ validationError }}</span>
			  <button type="submit" :disabled="!isValid" class="mt-1 mb-1">Next</button>
			</form>
		</div>
		<div class="container-450">
			<a class="font-weight-bold">&#62; Find your number</a>
			<p class="font-weight-regular mb-1 mt-1">If you are a business account owner:</p>
			<a class="font-weight-bold mb-1 block">&#62; Log in your business here</a>
			<a class="font-weight-bold mb-2">&#62; Privacy policy</a>
		</div>
	  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	  <script src="app.js"></script>
	</section>
</body>
</html>


